name: starforge
on: [push, pull_request]
env: 
  STARFORGE: "git+https://github.com/galaxyproject/starforge#egg=starforge"
  STARFORGE_CMD: "starforge --config-file=starforge.yml"
  S3PYPI: "s3pypi"
  S3PYPI_ROOT_INDEX: "git+https://github.com/natefoo/s3pypi-root-index#egg=s3pypi-root-index"
  WHEEL_BUILDER_TYPE: "c-extension"
  DELOCATE: "git+https://github.com/natefoo/delocate@top-level-fix-squash#egg=delocate"
jobs:
  changes:
    name: print changes
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [macos-latest, ubuntu-latest]
        # python: [3.6, 3.7, 3.8, 3.9]
        os: [ubuntu-latest]
        python: [3.6]
        wheel_builder_type: [c-extension]
        include:
          - os: ubuntu-latest
            python: 3.6
            wheel_builder_type: purepy
          - os: ubuntu-latest
            python: 3.6
            wheel_builder_type: universal
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v2
    - id: file_changes
      uses: trilom/file-changes-action@v1.2.3
    - name: changed wheel paths
      id: wheel-paths
      run: |
        jq -r '.[] | select(endswith("/meta.yml"))' $HOME/files_modified.json $HOME/files_added.json > $GITHUB_WORKSPACE/wheel_metas.txt
    - name: run setup
      run: ./build.sh setup
    - name: run build
      run: ./build.sh build
      env:
        PY: ${{ matrix.python }}
        WHEEL_BUILDER_TYPE: ${{ matrix.wheel_builder_type }}
